{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Mundo Musical</title>
        
        <link rel="icon" href="https://cdn.pixabay.com/photo/2020/09/25/02/56/music-5600363_960_720.png">        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,300;0,400;1,200&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link type='text/css' rel="stylesheet" href='{% static "Miaplicacion/css/stiloform.css" %}'>
    </head>
    <body>
      <header>
          <h1>Mundo Musical</h1>
      </header>
      <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/index">INICIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/index">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    INICIA SESIÓN
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a type="dropdown-item" href="{% url 'login' %}">Entrar</a></li>
                    <li><a type="dropdown-item" href="{% url 'logout' %}">Salir</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/registrarse">Registrate</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ¿Quieres trabar con consotros?
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/formulario">Registrate como proveedor</a></li>
                    <li><a class="dropdown-item" href="/formulariomusico">Registrate como musico</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/estadisticas">Estadísticas</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Desactivar</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </nav>

          {% block content %}
          
          {% endblock  %}


          {% if messages %}
            
            {% for menssage in messages %}
              
              <div>{{menssage}}</div>
            
            {% endfor %}
          
          {% endif %}

          <div class="container">
            <footer class="py-5">
              <div class="row">
                <div class="col-2">
                  <h5>Sección</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Inicio</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trabaja</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contacto</a></li>
                  </ul>
                </div>
          
                <div class="col-4 offset-1 ">
                  <form>
                    <h5>Suscribete a nuestro boletín</h5>
                    <p>Mensual para mantenerte atento a todas las ofertas.</p>
                    <div class="d-flex w-100 gap-2">
                      <label for="newsletter1" class="visually-hidden">Email</label>
                      <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                      <button class="btn btn-primary" type="button">Suscribete</button>
                    </div>
                  </form>
                </div>
              </div>
          
              <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>&copy; Felipe Godoy 2022 Company, Inc. Todos los derechos reservados.</p>
                <ul class="list-unstyled d-flex">
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
                </ul>
              </div>
            </footer>
          </div>
        <!-- aca se pega el JS del boostrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src='{% static 'Miaplicacion/js/funciones.js' %}'></script>
    </body>
</html>
