{% extends 'template_base.html' %}

{% block content %}

<form class="form" method="post" id="formulario">
    <div class="form">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="Nombre" class="form-control" id="nombre_contacto" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <label  class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="correo_contacto" placeholder="Nombre@ejemplo.com">
      </div>
      <div class="mb-3">
        <label  class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje_contacto" rows="3"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div> 
    </div>
  </form>


{% endblock content %}