{% extends 'template_base.html' %}

{% block content %}

  <div class="table-responsive" id="table1">
    <table class="table" id="myTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Productos</th>            
            <th scope="col">Total</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark González Toro</td>
            <td>Av. Lomas del a luz #1234, Valparaíso</td>
            <td>1 snack chocolate, 2 bebidas, 3 mochis</td>            
            <td>$20.000</td>
            <td>Enviado</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Daniela Guzmán Díaz</td>
            <td>Agua Santa, #385, Viña del Mar</td>
            <td>2 Bebida, 4 masticables de sandía, 5 papas fritas</td>
            <td>$25.000</td>
            <td>Pendiente</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Joaquín Herrera Castillo</td>
            <td>Condell #456, Valparaíso</td>
            <td>3 papas fritas, 3 bebidas, 2 snack chocolate</td>
            <td>$35.000</td>
            <td>Pendiente</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Constanza Flores Perez</td>
            <td>Av. Carrascal 3310, Quinta Normal, Santiago</td>
            <td>5 bebidas, 3 papas fritas, 6 snacks de chocolate</td>
            <td>$50.000</td>
            <td>Entregado</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Carolina Castillo Riquelme</td>
            <td>Guantajaya, #95, El Olivar, Viña del Mar</td>
            <td>4 Alverja con wasabi, 2 snack de chocolate, 3 papas fritas</td>
            <td>$27.000</td>
            <td>Enviado</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Alexis Sánchez Toro</td>
            <td>Av. Jose Alcalde Delano 10200, Lo Barnechea, Región Metropolitana</td>
            <td>4 arvejas con wasabi, 4 bebidas, 3 mochis</td>
            <td>$42.000</td>
            <td>Entregado</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Jose Joaquin Perez</td>
            <td>Av. Prat, #1452, Quillota</td>
            <td>2 Bebidas, 4 arverjas con wasabi, 7 Masticables de sandía</td>
            <td>$45.000</td>
            <td>En transito</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Claudio Donoso</td>
            <td>3 norte 540, Viña del Mar</td>
            <td>3 papas fritas, 2 bebidas</td>
            <td>$12.000</td>
            <td>Pendiente</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>María José Quiñones</td>
            <td>Palmira Romano Norte, #754, Limache</td>
            <td>4 Masticables de sandía, 5 Mochi, 3 snack chocolate</td>
            <td>$15.000</td>
            <td>Entregado</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Jennifer González Herrera</td>
            <td>Matucana 252, Casablanca, Valparaíso</td>
            <td>3 arvejas con wasabi, 5 bebidas, 3 papas fritas, 2 mochis</td>
            <td>$60.000</td>
            <td>Pendiente</td>
          </tr>
        </tbody>
      </table>
  </div>

{% endblock content %}